*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
  display: -webkit-flex;
	display: -ms-flex;
	display: flex;

  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

  -webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

  margin: 0rem 2rem;
}

.content {
  -webkit-flex: 2 2 15em;
	-ms-flex: 2 2 15em;
	flex: 2 2 15em;
}

/*MAIN NAV*/
.nav-item {
	flex-basis: 100%;
	text-align: center;
}

.sub-container {
  display: block;
  margin: 0;
}

/* Banners */
.banner-txt{
	display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

/* PROJECTS */
.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.process {
  display: block;
  justify-content: space-around;
}

img {
	display: block;
  justify-content: space-around;
}

.bio {
	display: inline-flex;
	flex-direction: row;
}

.bio img {
  display: inline-flex;
	margin-left: 0.5rem;
}

.bio-text {
	text-align: left;
}






/* *** MEDIA QUERIES *** */

/* NAV BAR */
@media(min-width: 40.625em){
	/* nav bar changes to single line */
  .sub-container{
		display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }

	.nav-item {
		display: flex;
		padding: 0.5rem 0.75rem;
	}
}

/* BANNER */
@media(min-width: 40.625em){
	/* nav bar changes to single line */
  .banner {
		position: relative;
  }

	.banner-txt {
		position: absolute;
		top: 0;
    /* bottom: 2.5rem; */
    right: auto;
    left: auto;
		margin: 7.5% 12.5%;
		max-width: 50%;

    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
	}

	.banner-title {
		text-align: left;
		/* padding: 0 2rem; */
	}

	.banner-description {
		text-align: left;
		/* padding: 0 2rem;
		padding-bottom: 1rem; */
	}
}


/* CITATIONS PAGE */
.citations {
  -webkit-flex: 2 2 15em;
	-ms-flex: 2 2 15em;
	flex: 2 2 15em;

  margin: 0rem 2rem;
}
