body {
  color: #2A2A2A;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #99D3DF;
  font-weight: 400;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #88BBD6;
  font-weight: 400;
  margin: 0.5rem 0rem;
  font-size: 1.50rem;
  max-width:100%;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #88BBD6;
  font-weight: 400;
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0.75rem 0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

p, ol, ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.90rem;
}

#ethos, #interactive, #styling, #combined {
  border-top: 0.15em solid #D6D6D8;
  margin: 1.5rem 0rem;
}

.element {
  border-top: 0.05em dashed #D6D6D8;
  margin: 1rem 0rem;
}


#citation-list{
    list-style-type: none;
    max-width:90%;
}

#citation-list li{
  max-width:95%;
  margin:1rem 0;
}

.style-citation-title{
  font-weight:600;
}

p {
  max-width: 75rem;
}


a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #62D006;
  transition: color 0.5s;
}

a:active, a:hover, a:focus {
  color: #04A05D;
}

header {
  margin-bottom: 2rem;
}

/* Style Guide Code */
pre {
  display: block;
  white-space: pre-wrap;
}

section code {
  background-color: #DADADA;
  padding: 0.5em 0.75em;
  display: block;
  max-width:100%
}

/* SYTLE GUIDE NAVIGATION */
.style-nav {
  margin: 1rem 0rem;
}

.style-nav a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #99D3DF;
  transition: color 0.5s;
  display: block;
}

.style-nav a:active, .style-nav a:hover, .style-nav a:focus {
  color: #ED6A5A;
}

.style-nav .nav-item {
  text-align: left;
}


/*--elements---*/

/* In-Text Links*/

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #D6D6D8;
  transition: color 0.5s;
}

a:active, a:hover, a:focus {
  color: #99D3DF;
}

/*NAV BUTTON*/
nav {
  width: 100%;
}
nav ul {
  list-style: none;
}

nav li {
  margin: 1rem 0.3rem;
}

.nav-logo {
  margin-right: auto;
}

.nav-logo-item {
  max-width: 100%;
  margin: 0.5rem 2.5rem;
  margin-left: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #99D3DF;
  font-weight: 400;
  font-size: 1.75rem;
}

.nav-item {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
  padding-top: 0.50rem;
  color: #ED6A5A;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.nav-item:hover, .nav-item:focus{
  color: #2A2A2A;

}

.nav-1st-item{
  margin-left:auto;
}


/*OLD CODE*/
/* .nav-button {
display: inline-block;
padding: 1rem 1rem;
color: #FFF;
background-color: #04A05D;
border-radius: 0.5em;
border-style:solid;
border-width:thin;
border-color:#ffffff;
text-decoration: none;
-webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.nav-button:hover, .nav-button:focus {
background-color: #ffffff;
color:#62D006;
border-color:#62D006;
} */

/* Forms & Input */
form {
  font-family: 'Roboto', sans-serif;
  display: block;
}

label {
  padding-right: 0.5rem;
}

input[type=text] {
  font-family: 'Roboto', sans-serif;
  width: 30%;
  margin-top: 0.5rem;
  padding: 7px 7px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

/*SUBMIT BUTTON*/
.submit-button {
  display: inline-block;
  color: #FFF;
  background-color: #0F4F46;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #0F4F46;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.submit-button:active, .submit-button:hover, .submit-button:focus {
  background-color: #fff;
  border-color: #0F4F46;
  color:#0F4F46;
}

/*APPLY BUTTON*/
.apply-button {
  display: inline-block;
  color: #FFF;
  background-color: #71B9C1;
  border-radius: 15px;
  padding: 0.50em 1rem;
  border-style:solid;
  border-width:thin;
  border-color: #71B9C1;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.apply-button:hover, .apply-button:focus {
  background-color: #fff;
  border-color: #71B9C1;
  color:#71B9C1;
}
.apply-button:hover, .apply-button:focus {
  background-color: #fff;
  border-color: #71B9C1;
  color:#71B9C1;
}

.cta-button {
  display: inline-block;
  margin:1rem 0.5rem;
  color: #FFFFFF;
  background-color: #99D3DF;
  padding: 0.50em 1rem;
  border-color: #99D3DF;
  border-radius: 15px;
  border-style:solid;
  border-width:thin;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.cta-button:hover, .cta-button:focus {
  background-color: #FFFFFF;
  border-color: #99D3DF;
  color: #99D3DF;
}

/*RESET BUTTON*/
/* .reset-button {
display: inline-block;
color: #62D006;
background-color: #fff;
border-radius: 5px;
padding: 0.5em;
border-style:solid;
border-width:thin;
border-color:#62D006;
text-decoration: none;
-webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.reset-button:active, .reset-button:hover, .reset-button:focus {
background-color: #62D006;
border-color: #62D006;
color:#fff;
} */

/*BULLETED POITNS AND ORDERD POINTS*/

.styling-bullet{
  list-style-type: disc;
  color:#2D2D2D;
  font-size:1rem;
  line-height:1.8rem;
}

.styling-ordered{
  color:#2D2D2D;
  font-size:1.1rem;
  line-height:1.8rem;
}

/* Images */
img {
  height: auto;
  max-width: 80%;
  border: 1px solid #DBDBDB;
}

figure {
  margin: 1em 0px;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 0.75rem;
}

.large-img {
  height: auto;
  max-width: 100%;
}

section p {
  margin-top: 0;
}

/* Product Listing */

/*PRODUCT*/
.product{
  border: 1px solid #DBDBDB;
  padding: 1rem;
  margin-top:0.5rem;
  /* border-radius: 1em; */
  max-width:100%;
}

.product-small-item{
  border: 2px solid #DBDBDB;
  background: #FFFFFF;
  padding: 1rem;
  margin-top:0.5rem;
  border-radius: 1em;
  max-width:100%;
}

/*index page*/

.index-block-content-container {
  max-width: 100%;
  /*margin: 1rem 2rem;*/
}

.index-block-content-container h2 {
  text-align: left;
}

.block {
  display: inline-block;
  max-width:100%;
  margin:2rem 1rem;
  border: 1px solid #DBDBDB;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;

  flex-basis:100%;
  padding: 1rem 1rem;
}

.block:hover, .block:focus{
  border: 1px solid #2A2A2A;
}

.main-blocks-content{
  max-width:100%;
}

.index-item-dexcription{
  color: #2A2A2A;
  font-size:0.9rem;
}


/*apply buttons*/
.normal-button {
  display: inline-block;
  margin:1rem 0.5rem;
  color: #fff;
  background-color: #2CA675;
  border-radius: 5px;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #2CA675;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.normal-button:hover, .normal-button:focus {
  background-color: #fff;
  border-color: #2CA675;
  color:#2CA675;
}

/*Old Code*/
/* .product-item {
border: 2px solid #DBDBDB;
background: #FFFFFF;
padding: 1rem;
border-radius: 1em;
text-align: center;
}

.placeholder{
max-width:100%;
} */

/* Grid Structure */
.col1 {
  background-color: #000;
}

.col2 {
  background-color: #333;
}

.col3 {
  background-color: #666;
}

.col4 {
  background-color: #999;
}

.grid-structure {
  text-align: center;
  color: #FFFFFF;
  padding: 2.5em 0;
}

/* Color Swatches */
.swatch {
  text-align: center;
  padding: 4em 2em;
  color: #000;
}

.swa1 {
  background: #88BBD6;
}
.swa2 {
  background: #99D3DF;
}
.swa3 {
  background: #F4F4F4;
}
.swa4 {
  background: #ED6A5A;
}
.swa5 {
  background: #D6D6D8;
}
.swa6 {
  background: #2A2A2A;
  color: #DBDBDB;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
}
